export SECRET_KEY=
export DATABASE_URL="postgres://amphora:amphora@host.docker.internal:5432/amphora"
export STATIC_ROOT="/usr/src/app/static/"
export MEDIA_ROOT="/usr/src/app/jars_media"
export BASE_URL="/"
export SOCIAL_AUTH_GITHUB_KEY=
export SOCIAL_AUTH_GITHUB_SECRET=
export BACKEND="postgres"
export GILES_APP_TOKEN=
export GOAT="https://amphora.asu.edu/goat"
export NAMESPACE="http://amphora.asu.edu/amphora/"
export GILES="https://diging.asu.edu/geco-giles-staging"
export HATHITRUST_CLIENT_KEY="{{ hathitrust_client_key }}"
export HATHITRUST_CLIENT_SECRET="{{ hathitrust_client_secret }}"
