export DJANGO_SECRET_KEY='lk&b)9bfq@5kxb_c*zrko-g-de8gm9mwpucjq1^z=1o2u!-3a)'
export DATABASE_URL="postgres://mbl:mbl@database:5432/mbl"
export STATIC_ROOT="/usr/src/app/static/"
export DJANGO_SETTINGS_MODULE=mbl.settings
export HEAD_HASH=''
export BASE_PATH="/"
